# Exploring the No-show Appointments Dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

This dataset collects information from over 100k medical appointments in brazil and is focused on the question whether a patient shows up for his/her appointment or not.

### Data Wrangling

In [2]:
#importing the required library needed through out this project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
#Loading the dataset
df = pd.read_csv('noshowappointments.csv')

In [3]:
#Viewing the dataset
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [4]:
#checking the dimension of the dataset
df.shape

(110527, 14)

The above code indicates that there are 110527 samples of data and 14 columns

In [5]:
# Checking the summary of statistics for the dataset
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

- The above code shows that the maximum age of a patient is 115 years old. Compare to the 75 percentile which has an age of 55 years. This seems like an outlier to me.
- Average age of the patients is 37years.
- The numbers of patients suffering from Hypertension, Diabetes, Alcoholism and being handicapped are not that much. 
- It was discovered there is a negative value under the column 'Age' which is not suppose to be so. That row therefore would be dropped.

In [9]:
#Checking the number of unique values in each column
df.nunique()

PatientId          62299
AppointmentID     110527
Gender                 2
ScheduledDay      103549
AppointmentDay        27
Age                  104
Neighbourhood         81
Scholarship            2
Hipertension           2
Diabetes               2
Alcoholism             2
Handcap                5
SMS_received           2
No-show                2
dtype: int64

- The number of unique appointments is greater than patients; this simply indicates some patients have more than one appointment.
- There are five(5) values in the Handicap column, whereas it is suppose to be two(2); which should be 0 and 1 or Yes and no depending on the data type.

In [14]:
#Checking if there is duplicate in the dataset
df.duplicated().sum()

0

The above code shows there are no duplicated row in the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

- It was discovered that ScheduledDay and AppointmentDay need to be convert to DayTime Data type.
- Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, Sms_recieved are in data type 'int' and no show is a string. These columns will be converted to boolean

In [16]:
#Checking handcap value
df['Handcap'].value_counts()

0    108286
1      2042
2       183
3        13
4         3
Name: Handcap, dtype: int64

We will only work with rows with value of 0 and 1, and rows with value greater than 1 would be dropped

### Data Cleaning

In [17]:
# Dropping the "PatientId" and "AppointmentID" columns cos they are not needed for any analysis
df.drop(['PatientId', 'AppointmentID'], axis = 1, inplace =True)

In [18]:
#Confirm the drop column changes
df.head(2)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No

In [20]:
#Checking the data type of AppointmentDay column
df.AppointmentDay.unique

<bound method Series.unique of 0         2016-04-29T00:00:00Z
1         2016-04-29T00:00:00Z
2         2016-04-29T00:00:00Z
3         2016-04-29T00:00:00Z
4         2016-04-29T00:00:00Z
                  ...
110522    2016-06-07T00:00:00Z
110523    2016-06-07T00:00:00Z
110524    2016-06-07T00:00:00Z
110525    2016-06-07T00:00:00Z
110526    2016-06-07T00:00:00Z
Name: AppointmentDay, Length: 110527, dtype: object>

- From the above code, i can deduce that while patient have different appointment days, the time of appointment was set to 00:00:00 hour. Therefore only day, month and year would be extracted

In [23]:
#Extracting Day, Month and Year from the 'AppointmentDay' Column
df['AppointmentDay'] = df['AppointmentDay'].str[:10]

In [24]:
# Changing the data type of 'AppointmentDay' column
df['AppointmentDay'] =pd.to_datetime(df['AppointmentDay'] )

In [26]:
# Confirming the changes made for 'AppointmentDay' column
print(df['AppointmentDay'].dtypes)

datetime64[ns]

In [27]:
#Checking the data type of 'ScheduleDay' column
df.ScheduledDay.unique

<bound method Series.unique of 0         2016-04-29T18:38:08Z
1         2016-04-29T16:08:27Z
2         2016-04-29T16:19:04Z
3         2016-04-29T17:29:31Z
4         2016-04-29T16:07:23Z
                  ...
110522    2016-05-03T09:15:35Z
110523    2016-05-03T07:27:33Z
110524    2016-04-27T16:03:52Z
110525    2016-04-27T15:09:23Z
110526    2016-04-27T13:30:56Z
Name: ScheduledDay, Length: 110527, dtype: object>

- Although the time each patient sheduled their appointment differs but it has no relevant on our analysis. There we would also be extracting only the day, month and year, the same way we did for 'ApoointmentDay' column

In [28]:
#Extracting Day, Month and Year from the 'ScheduledDay' Column
df['ScheduledDay'] = df['ScheduledDay'].str[:10]

In [29]:
# Changing the data type of 'ScheduledDay' column
df['ScheduledDay'] =pd.to_datetime(df['ScheduledDay'] )

In [30]:
# Confirming the changes made for 'ScheduledDay' column
print(df['ScheduledDay'].dtypes)

datetime64[ns]

In [31]:
#Viewing the dataset again
df.head(2)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No